@import "../main.css";

.upper {
    text-transform: uppercase;
}
.userCard {
    width: 500px;
    padding: 0 15px;
    position: relative;
    background-color: antiquewhite;
    flex-direction: column;
}

.bold {
    font-weight: 700;
}
.userCard span {
    position: absolute;
    left: 5%;
}
.userCard p {
    border-bottom: 2px solid lightgray;
}
.showPosts {
    padding: 3px;
    width: 100%;
    margin-bottom: 5px;
}
.container {
    position: relative;
    align-items: flex-start;
}
.postContainer {
    position: absolute;
    text-align: left;
    left: 50%;
    bottom: 15%;
}
.postContainer p {
    padding: 5px 0;
}
.close {
    display: none;
}