* {
    margin: auto;
    box-sizing: border-box;
}

:root {
    /*colors*/
    --mainColor: black;
    --mainWhite: white;
    --darkBlue: darkblue;
    --blue: blue;
    --antiq: antiquewhite;
    --lightGray: lightgray;
    /*sizes*/
    --bold: 700;
    --radius: 5px;
    --w40perc: 40%;
    --w55perc: 55%;
    --w65perc: 65%;
    --w100perc: 100%;
    --fontSize: 12px;
    /*outer*/
    --mar_5: 5px;
    --mar_10: 10px;
    --mar_15: 15px;
    /*inner*/
    --pad_5: 5px;
    --pad_10: 10px;
    --pad_15: 15px;
}


body {
    width: 100vw;
}

.container {
    padding: 20px 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 0;
    width: 100vw;
    align-items: center;
    text-align: center;
}

.userCard {
    margin: 0 auto;
    width: var(--w40perc);
    background-color: var(--antiq);
}

.userCard p {
    margin-bottom: var(--mar_15);
}

.userCard {
    border: 1px solid var(--mainColor);
    border-radius: var(--radius);
}

.userCard:hover {
    box-shadow: 2px 4px 8px var(--mainColor);
}

#details {
    display: block;
    background-color: var(--darkBlue);
    text-decoration: none;
    color: var(--mainWhite);
    text-transform: uppercase;
    font-weight: var(--bold);
    padding: var(--pad_5) 7px;
    border-bottom-right-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    transition: background-color ease 0.3s;
}

#details:hover {
    background-color: var(--blue);
}


